@mixin social-wrapper {
    padding: 0;
    min-width: 260px;
    position: fixed;
    top: 50%;
    left: calc(100% - 50px);
    transform: translateY(-50%);
}

@mixin icon-box {
    color: #fff;
	font-size: 20px;
	padding: 15px;
	text-align: center;
	width: 50px;
}

@mixin link {
    color: #fff;
	padding: 0 10px;
}

@import "background-icons";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #c3cfe2;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
   
  }

.social-wrapper {
        @include social-wrapper();

    .social-media  {
        align-items: center;
        display: flex;
        transition: transform .3s ease-in-out;
    }

    .social-media:hover {
        transform: translateX(calc(-100% + 50px));
    }

    i {
        @include icon-box();
    }

    a {
        @include link();
    }

}