@mixin grid-desktop {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
    justify-items: center;
}


/* Desktop media query */

@media screen and (min-width: 1000px) {
    
    .portfolio-wrapper {
        @include grid-desktop();
    }
}