* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
}

#nav-menu {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: space-around;
    margin: 20px 0px;
}

label {
    padding-left: 10px;
}

#main-wrapper {
    width: 90%;
    margin: auto;
}
#movies-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    justify-content: center;
    justify-items: center;
}

